In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("C:/Users/kimbj/OneDrive/바탕 화면/김범진/가천 2학년 1학기/인공지능프로그래밍/candy-data.csv")
df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [2]:
df = df.drop("competitorname", axis=1)
df.head()

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [3]:
X = df.drop("pricepercent",axis=1)
y = df["pricepercent"]

from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [4]:
import numpy as np
# 평균

mean = np.mean(X_train, axis = 0)

# 표준편차
std = np.std(X_train, axis = 0) # 표준편차값

# 표준화값
X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

In [5]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(64, activation = 'relu', input_shape = (11,)))
model.add(Dense(32, activation = 'relu'))
model.add(Dense(1)) 
model.compile(optimizer = 'rmsprop', loss = 'mse', metrics = ['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                768

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,881
Trainable params: 2,881
Non-trainable params: 0
_________________________________________________________________

In [6]:
N_EPOCHS = 10
history = model.fit(X_train, y_train, epochs = N_EPOCHS, validation_data=(X_test, y_test))

Epoch 1/10
3/3 [==============================] - 2s 227ms/step - loss: 0.2279 - mae: 0.3841 - val_loss: 0.1237 - val_mae: 0.2585
Epoch 2/10
3/3 [==============================] - 0s 41ms/step - loss: 0.1037 - mae: 0.2425 - val_loss: 0.1114 - val_mae: 0.2487
Epoch 3/10
3/3 [==============================] - 0s 40ms/step - loss: 0.0723 - mae: 0.1962 - val_loss: 0.1154 - val_mae: 0.2642
Epoch 4/10
3/3 [==============================] - 0s 42ms/step - loss: 0.0633 - mae: 0.1835 - val_loss: 0.1133 - val_mae: 0.2621
Epoch 5/10
3/3 [==============================] - 0s 40ms/step - loss: 0.0562 - mae: 0.1711 - val_loss: 0.1154 - val_mae: 0.2624
Epoch 6/10
3/3 [==============================] - 0s 36ms/step - loss: 0.0488 - mae: 0.1597 - val_loss: 0.1118 - val_mae: 0.2596
Epoch 7/10
3/3 [==============================] - 0s 38ms/step - loss: 0.0455 - mae: 0.1518 - val_loss: 0.1049 - val_mae: 0.2488
Epoch 8/10
3/3 [==============================] - 0s 41ms/step - loss: 0.0420 - mae: 0.1472 - val_loss: 0.1037 - val_mae: 0.2468
Epoch 9/10
3/3 [==============================] - 0s 35ms/step - loss: 0.0401 - mae: 0.1410 - val_loss: 0.1060 - val_mae: 0.2519
Epoch 10/10
3/3 [==============================] - 0s 34ms/step - loss: 0.0382 - mae: 0.1414 - val_loss: 0.1074 - val_mae: 0.2563

In [7]:
model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 44ms/step - loss: 0.1074 - mae: 0.2563

[0.10739534348249435, 0.2563053071498871]